.title {
    font-size: 50px;
    font-family: "Drakalligro";
    color: aliceblue;
    text-align: center;
}

.text {
    font-family: "Drakalligro";
    color: aliceblue;
    text-align: center;
}

.links {
    display: inline-block;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    padding-bottom: 25px;
    white-space: nowrap;
    font-size: 50px;
    font-family: "Drakalligro";
    text-align: center;
    margin-top: 30px;
}

.links:hover {
    background-color: aqua;
}

.container1 {
    display: flex; 
    justify-content: center; 
    gap: 50px;   
    text-align: center;
}

.project-item {
    flex: 1;               
    max-width: 300px;       
}

.imgcontainer {
    padding-left: 50px;
}

.images img {
    width: 200px;
    height: 200px;
}

.code {
  display: flex;
  align-items: center; 
  gap: 20px;
  padding-bottom: 50px;
}

.line {
    padding-top: 30px;
}

